@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --primary-moderate-blue: hsl(238, 40%, 52%);
  --primary-soft-red: hsl(358, 79%, 66%);
  --primary-light-grayish-blue: hsl(239, 57%, 85%);
  --primary-pale-red: hsl(357, 100%, 86%);

  --neutral-dark-blue: hsl(212, 24%, 26%);
  --neutral-grayish-blue: hsl(211, 10%, 45%);
  --neutral-light-gray: hsl(223, 19%, 93%);
  --neutral-very-light-gray: hsl(228, 33%, 97%);
  --neutral-white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--neutral-light-gray);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  margin: 30px 0;
}

.comment {
  background-color: var(--neutral-white);
  padding: 20px 20px;
  margin: 20px 10px;
  border-radius: 10px;
  line-height: 26px;
  max-width: 350px;
}

.user-info,
.comment-rate,
.comment-info {
  display: flex;
}

.user-info {
  justify-content: start;
  align-items: center;
  gap: 20px;
  max-width: 350px;
}

.user-logo {
  max-width: 10%;
}

.user-name,
.comment-info {
  font-weight: 500;
}

.comment-date {
  color: var(--neutral-grayish-blue);
}

.comment-message {
  color: var(--neutral-grayish-blue);
}

.comment-info {
  padding: 0px;
  align-items: center;
  margin-bottom: 20px;
}

.comment-rate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
  color: var(--primary-moderate-blue);
  background-color: var(--neutral-light-gray);
  border-radius: 10px;
  padding: 0px 10px;
  height: 45px;
}

.comment-rate img {
  cursor: pointer;
}

.comment-reply {
  margin-left: auto;
}
.comment-reply span {
  margin-left: 5px;
}
